# Database
DATABASE_URL="postgresql://username:password@localhost:5432/cointext"

# OpenAI API
OPENAI_API_KEY="your-openai-api-key-here"

# JWT Secret for admin authentication
JWT_SECRET="your-jwt-secret-key-here"

# Chroma Vector Database
CHROMA_URL="http://localhost:8000"

# Next.js
NEXT_PUBLIC_BASE_URL
NEXT_PUBLIC_DEFAULT_API_KEY

# Real API Keys and URLs
DEBANK_API_KEY=""
NANSEN_API_KEY=
DEXSCREENER_API_KEY=your-dexscreener-api-key-here

